#title{
    background-color: #e0ebe8;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    border-radius: 15%;
    margin-right: 10px;
}

h1 {
    font-family: 'Bagel Fat One', cursive;
    color: #66bfbf;
    font-size: 4rem;
    line-height: 1.5;
}


h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #808080;
}

.container-fluid {
    padding: 3% 15%;
}

.btn {
    border-radius: 5px;
}

.row {
    padding-top: 10%;
}

.rotate {
    width: 60%;
    transform: rotate(20deg);
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;    
    color: #526D82;
}

.navbar-brand:hover {
    color: #27374D;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    padding: 0 20px;
    font-size: 1.5rem;
    color: #526D82;
}

.download-btn {
    margin: 10% 3% 5% 0;
}

.feature {
    text-align: center;
    padding: 5% 15%;
}

.colm-f {
    padding: 5%;
}

.fa-5x {
    margin-bottom: 20px;
    color: #ef8172;
}

.fa1:hover {
    color: #21bf75;
}

.fa2:hover {
    color: #35548f;
}

.fa3:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #e0ebe8;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color:#66bfbf;
    font-weight: bold;
}

.testimonial-image {
    width: 150px;
    border-radius: 100%;
    padding: 20px;
}

#press {
    background-color: #e0ebe8;
    text-align: center;
}

.press-image {
    width: 150px;
    padding: 20px 20px 50px;
}

.carousel-item {
    padding: 5% 15%;
}

.carousel-indicators .active {
    background-color: #66bfbf;
    width: 30px;
    height: 5px;
}

.carousel-control-prev-icon {
    background-color: #66bfbf;
}

.carousel-control-next-icon {
    background-color: #66bfbf;
}

#pricing {
    text-align: center;
    padding: 3% 15%;
}

.card1 {
    padding-bottom: 35px;
    line-height: 2;
}

.card2 {
    padding-bottom: 35px;
    line-height: 2;
}

.card3 {
    padding-bottom: 19px;
}

.card-header {
    background-color: #66bfbf;
    color: white;
    padding-top: 10px;
}

.card-body {
    background-color: #e0ebe8;
    margin-bottom: 0;
    font-weight: 500;
}

.pricing-head {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color:#27374D;
    line-height: 1.5;
}

.pbtn {
    width: 100%;
}

#cta {
    background-color: #e0ebe8;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.ctah3 {
    font-family: 'Ubuntu', sans-serif;
    color: #66bfbf;
    font-size: 2rem;
    line-height: 2;
    padding-top: 50px;
    padding-bottom: 0;
}

.ctabtn {
    margin: 20px 15px 50px;
}

#footer {
    text-align: center;
    padding: 50px;
}

.footericon {
    font-size: 2rem;
    padding: 1% 1%;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-google:hover {
    color: #DB4437;
}

.fa-envelope:hover {
    color: #F4B400;
}